body{
    background-image: url(https://th.bing.com/th/id/OIP.76vWAZOmwGaGCnk3h4hISQHaFj?pid=ImgDet&rs=1);
   font-family: Arial, Helvetica, sans-serif, 
}
th{
    background-color: rgb(72, 115, 209)
    ;
}
table{
    margin-left: 200px;
}
ing{
    margin-left: 10px 10px 10px;
}