body{
    background-image: url(https://i.pinimg.com/originals/1a/7b/46/1a7b467fbaa2286e40748014fed49648.jpg);
   font-family: Arial, Helvetica, sans-serif,
}
th{
    background-color:red;
}
table{
    margin-left: 200px;
}
ing{
    margin-left: 10px 10px 10px;
}
